Importando a dependência do numPy e o dataSet

In [2]:
import numpy as np

ds = np.loadtxt('space.csv',
                delimiter = ';',
                dtype= str,
                encoding= 'utf-8')

header = ds[0]
print(header)

data = ds[1:] # Evitar a primeira linha (cabeçalho)
print(data.shape)

['\ufeffNum' 'Company Name' 'Location' 'Datum' 'Detail' 'Status Rocket'
 ' Cost' 'Status Mission']
(4324, 8)

Exercício 1 - Encontrar a porcentagem de sucessos nas missões

In [4]:
mission = data[:, 7]
print(mission)

missionSuccess = mission[mission=='Success']

numSucess = len(missionSuccess)
successRate = (numSucess / len(mission))

print(f"A taxa de sucesso foi de {successRate * 100:.2f} % !")

['Success' 'Success' 'Success' ... 'Failure' 'Success' 'Success']
A taxa de sucesso foi de 89.71 % !

Exercício 2 - Média de gastos nas missões considerando apenas valores maiores do que 0

In [ ]:
costColumn = data[:, 6]
costColumn = costColumn.astype(float) # Transformando as strings em float

meanValuesnotNull = costColumn[costColumn > 0]

print(f"A média dos valores maiores do que 0 é: {meanValuesnotNull.mean():.2f}") # Colocando 2 casas decimais

A média dos valores maiores do que 0 é: 153.79

Exercício 3 - Quantas missões foram realizadas pelos EUA

In [ ]:
nationMission = data[:, 2]
USAMission = len(nationMission[np.char.find(nationMission, 'USA') >= 0])
print(f"O número de missões realizadas pelos EUA foi de: {USAMission}")

O número de missões realizadas pelos EUA foi de: 1344

Exercício 4 - Qual a missão mais cara realizada pela SpaceX

In [72]:
company = data[:,1]
missionSpaceX = company == 'SpaceX'
costsSpaceX = costColumn[missionSpaceX]
maxIndex = np.argmax(costsSpaceX)  # Encontra o maior custo da SpaceX

print(f"Maior custo da SpaceX: {costsSpaceX[maxIndex]:.2f}")

Maior custo da SpaceX: 90.00

Exercício 5 - Nome das empresas que realizaram missões especiais com a quantidade usando for

In [84]:
#print(np.unique(company, return_counts = True))

companies, quantity = np.unique(company, return_counts = True)

#print(companies)
#print(quantity)

for i in range(len(companies)):
    print(f"{companies[i]}: {quantity[i]} missões")

AEB: 3 missões
AMBA: 8 missões
ASI: 9 missões
Arianespace: 279 missões
Arm??e de l'Air: 4 missões
Blue Origin: 12 missões
Boeing: 136 missões
CASC: 251 missões
CASIC: 5 missões
CECLES: 4 missões
CNES: 8 missões
Douglas: 1 missões
EER: 1 missões
ESA: 13 missões
Eurockot: 13 missões
ExPace: 10 missões
Exos: 4 missões
General Dynamics: 251 missões
IAI: 11 missões
ILS: 46 missões
IRGC: 1 missões
ISA: 13 missões
ISAS: 30 missões
ISRO: 76 missões
JAXA: 7 missões
KARI: 3 missões
KCST: 5 missões
Khrunichev: 1 missões
Kosmotras: 22 missões
Land Launch: 7 missões
Landspace: 1 missões
Lockheed: 79 missões
MHI: 84 missões
MITT: 7 missões
Martin Marietta: 114 missões
NASA: 203 missões
Northrop: 83 missões
OKB-586: 2 missões
OneSpace: 1 missões
RAE: 2 missões
RVSN USSR: 1777 missões
Rocket Lab: 13 missões
Roscosmos: 55 missões
SRC: 3 missões
Sandia: 1 missões
Sea Launch: 36 missões
SpaceX: 100 missões
Starsem: 1 missões
ULA: 140 missões
US Air Force: 161 missões
US Navy: 17 missões
UT: 5 missões
VKS RF: 201 missões
Virgin Orbit: 1 missões
Yuzhmash: 2 missões
i-Space: 1 missões